body {
    font-family: "Adobe Garamond Pro", "Segoe UI", sans-serif;
    font-size: 13pt;
    background-color: #F3F3F3;
}

.main {
    height: 100vh;
    margin: 0 auto;
    width: 980px;
}